@model SLE_System.Models.LoginViewModel
@{
    ViewData["Title"] = "Olvidé mi contraseña";
}
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Olvidé mi Contraseña</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="~/Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/Assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

</head>
<body class="hold-transition login-page">
    <div class="top-container-deep">
        <img src="~/img/fondo_top.png" />
    </div>
    <div class="general-pictures">
        <div class="men-image-container">
            <img src="~/img/hombre.png" />
        </div>
        <div class="women-image-container">
            <img src="~/img/mujer.png" />
        </div>
    </div>
    <div class="login-box container-login">
        <div class="top-container">
        
        </div>
        <div class="card card-outline">
            <div class="text-center logo-container">
                <img src="~/img/logo.png" />
            </div>
            <div class="card-body">
                <div class="text-container">
                    <p>Recuperar contraseña</p>
                </div>
                <form id="formForgotPassword">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control input-user" placeholder="" />
                    </div>
                    <div class="container-button">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/Assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Assets/plugins/jquery-validation/additional-methods.min.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function () {
                let formData = {
                    email: $("#email").val(),
                };
                Swal.fire({
                  title: 'Cargando...',
                  html: 'Aguarde un momento por favor...',
                  allowEscapeKey: false,
                  allowOutsideClick: false,
                  didOpen: () => {
                    Swal.showLoading()
                  }
                });
                $.ajax({
                    type: "POST",
                    url: "/Account/SendResetPwdLink",
                    headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
                    data: formData,
                    success: function (response) {
                        Swal.fire({
                            title: 'Bien!',
                            text: 'Se ha enviado un email con las instrucciones para cambiar su contraseña!',
                            imageUrl: '/img/señalverde.png',
                            imageHeight: 212,
                            timer: 4000,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                            willClose: () => {
                                window.location = "/";
                            }
                        })
                    },
                    error: function (error)
                    {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Ha ocurrido un error al envíar el email. Inténtelo de nuevo más tarde y si el problema persiste contacte con soporte!',
                            imageUrl: '/img/señalroja.png',
                            imageHeight: 212,
                            timer: 4000,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                            willClose: () => {
                                window.location = "/";
                            }
                        })
                    }
                });
            }
        });
        $('#formForgotPassword').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                email: {
                    required: "Ingrese el email",
                    email: "Ingrese un email válido"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    </script>
    <script src="~/Assets/plugins/sweetalert2/sweetalert2.min.js"></script>
</body>
</html>
