@model SLE_System.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar sesión</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="~/Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="hold-transition login-page">
<div class="login-box container-login">
    <div class="top-container">
        
    </div>
  <div class="card card-outline">
    <div class="text-center logo-container">
      <img src="~/img/logo.png" />
    </div>
    <div class="card-body">

        <div class="text-container">
            <p>Iniciar Sesión</p>
        </div>
      <form method="post">
       <div>
            <div class="label-container">
                <span>Correo o Nombre de Usuario</span>
            </div>
            <div class="container-user">
                <input asp-for="Usuario" class="form-control input-user" placeholder="" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="label-container">
                <span>Contraseña</span>
            </div>
            <div class="container-password">
                <input asp-for="Clave" class="form-control input-password" placeholder="Contraseña" />
                <span asp-validation-for="Clave" class="text-danger"></span>
             </div>
             <div class="item-container">
                 <input type="checkbox" /><span class="span-item">Recordarme</span>
                 <a href="#">¿Olvidaste tu contraseña?</a> 
             </div>
            <div class="container-button">
                <button type="submit">Iniciar Sesion</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="~/Assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Assets/dist/js/adminlte.min.js"></script>
</body>
</html>
