#DropImagen {
    margin-inline: 4rem;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    background-color: #C4C4C4;
}

#DropVideo {
    margin-inline: 4rem;
    background-image: url(../img/video.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    background-color: #C4C4C4;
}

    #dropVideo input[type="file"] {
        font-size: 100px;
    }

.botonEnlace {
    background-color: transparent;
    visibility: hidden;
    width: 7%;
    border-radius: 100%;
    border: none;
}



.boton-perfil {
    background-color: transparent;
    width: 19.64px;
    border: none;
    float: right;
}

.inputs {
    font-size: 20px;
    border: 1px dashed #9B9B9B;
    box-sizing: border-box;
}

.perfil img {
    width: 19.64px;
}

.Color-Selector {
    border-radius: 5px;
    width: 60px;
    height: 40px;
    left: 85px;
    top: 174px;
    margin: 2px;
}

.inputTitulo {
    font-family: 'Poppins', sans-serif;
    width: 70%;
    font-size: 20px;
    text-align: center;
    border: 1px dashed #9B9B9B;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inputTitulo1 {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 20px;
    height: 100%;
    border: 1px dashed #9B9B9B;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-left: 3%;
}

.inputLink {
    width: 100%;
    font-size: 14px;
    font-style: italic;
    border-bottom-width: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.selColor {
    font-size: 12px;
}

.file-Amagen {
    width: 20%;
    height: 30px;
    position: relative;
    display: inline-block;
    background-image: url(../img/img.png);
    background-size: 20px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
}

.estilo-imagen-texto-imagen img {
    width: 50%;
}

.estilo-imagen img {
    width: 60%;
}

/* .file-Amagen input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 100px;
        display: inline-block;
    }*/

.container-pop {
    text-align: center;
    width: 100%;
    height: 190px;
}

.hija-pop {
    width: 190px;
    height: 150px;
    padding: 16px;
    margin-left: 33%;
}

.button-close-pop {
    position: relative;
    left: 60px;
    top: 30px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.file-Amagen-pop-up {
    display: block;
    width: 100%;
    height: 130px;
    background-color: #C4C4C4;
    text-align: center;
}

.label-imagen-pop {
    margin-top: 20px;
}


.preview-img-pop {
    text-align: center;
    min-height: 10px;
    height: 120px;
    position: relative;
    margin-top: -20px;
}

    .preview-img-pop > img {
        width: 150px;
        height: 120px;
        object-fit: cover;
    }
/*.file-Amagen-pop-up input[type="file"] {
        opacity: 0;
        width: 70%;
        height: 70px;
        display: inline-block;
    }*/
.file-Amagen-Carrucel {
    width: 60%;
    height: 60px;
    position: relative;
    display: inline-block;
    background-image: url(../img/img.png);
    background-size: 20px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
}

    .file-Amagen-Carrucel input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 100px;
        display: inline-block;
    }

.junto {
    display: flex;
}

.titulomax {
    width: 80%;
}

.pop-up-input {
    display: none;
}

.Boton1 {
    margin-left: 78%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}
