* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image:url('img/fondo.png');
}
.principal {
    margin-top:30px;
}

.tituloCmp {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: black;
}

.texto {
    height: 120px;
    
}

.inputTexto {
    height: 53px;
    border: 1px dashed #9B9B9B !important;
    width: 100%;
}

.component {
    padding: 16px;
    margin-top: 20px;
    background-color: white;
    position: relative;
    border-radius: 8px;
    height: auto;
}

.icon-trash {
    margin-top: 5px;
    float: right;
}

.navegacion {
    background-color: #455A64;
    height: 88px;
}

.navegacion .header {
    position:absolute;
    display:flex;
    left:85%;
    top:1px;
}


    .header .header-hija {
        margin-right: 20px;
        margin-top: 20px;
    }

.header-hija .contenedor {
    position: absolute;
    transform: translate(-100%);
    padding: 10px;
}

    .header-hija .contenedor input {
        outline: none;
        box-sizing: border-box;
        height: 29px;
        width: 0px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 15px;
        border: transparent;
        transition: all .7s ease;
    }

        .header-hija .contenedor input::placeholder {
            color: grey;
        }

.header-hija .boton-busqueda {
    position: absolute;
    right: 9px;
    top: 2px;
    width: 45px;
    height: 45px;
    background: #455A64;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

    .header-hija .boton-busqueda i {
        font-size: 15px;
        color: white;
        line-height: 0px;
        transition: all .7s ease;
    }

.header-hija .contenedor:hover input {
    width: 350px;
}



.menu-desplegable .boton-perfil {
    background-color: transparent;
    display:flex;
    padding-bottom:5px;
    border: none;
    
}

.menu-desplegable .cerrar-sesion {
    color: transparent;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu-desplegable .editar-modulos {
    color: transparent;
    display: flex;
    padding-top:10px;
    text-decoration: none;
    list-style: none;
}

.menu-desplegable:hover > .cerrar-sesion {
    
    color: white;
    background-color: #455A64;
}

.menu-desplegable .cerrar-sesion > :hover {
    background-color: dimgrey;
}


.menu-desplegable:hover > .editar-modulos {
    display:flex;
    padding-top:10px;
    color: white;
    background-color: #455A64;
}


.logo-kiosko{
    margin:20px;
}

.logo-kiosko .kiosko {
        width: 200px;
        height: 48.05px;
    }

.content-wrapper {
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.scroll {
    height:500px;
    overflow-y: scroll;
}





.sidebar {
    background-color: #455A64;
}

.posicion-logo {
    background-color: #455A64;
}    
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}

.TESTCLASS {
    color: red;
}

.padre {
    display: flex;
}

.texto-imagen-1 {
    display: flex;
    margin: 20px;
    width: 80%;
    overflow-y: scroll;
    text-align: center;
}

.texto-imagen ul {
    border: solid;
    width: 300px;
    margin: 15px;
}
.contendor-lista{
    padding:0 40px;
}

.texto-imagen-1 ul li {
    list-style: none;
    margin: 15px 0;
}

.titulo-input {
    border: #9B9B9B 1px dashed;
    width: 130px;
    height: 31px;
}

.botonincremento {
    width: 120px;
}

.video-guia-padre {
    margin-top: 40px;
    
}
.descripcion-guia-video{
    text-align:center;

}
.video-guia-padre-input{
    margin-left: 29%;
    
}



.input-archivo {
    margin-bottom: 30px;
}

.texto-imagen-display {
    display: flex;
    width:100%;
}
.contenedor-padre{
    text-align:center;
}
.position {
    margin-right: 30px;
    margin-left:50px;
    margin-bottom:10px;
}

.input-desplegable-texto-imagen {
    display: none;
}
.label-desplegable-texto-imagen {
    width: 102px;
    height: 78px;
    background-color: #C4C4C4;
}

.estilo-imagen-desplegable {
    
    top: 0;
}

    .estilo-imagen-desplegable img {
        width: 200px;
        
    }

.estilo-imagen-desplazante img{
    width:200px;
}
/*.button-close {
    position: relative;
    left: 200px;
    top: -45px;
}*/

.subtitle-input::placeholder {
    text-align: center;
}

.subtitle-input {
    border: #9B9B9B 1px dashed;
    width: 100%;
    height: 42px;
    margin-top:18px;
}

.imagen-general {
    display: flex;
    
}
.label-imagen-1{
    margin-top:10px;
}

.label-footer {
    margin-top: 22px;
}

.imagen-1 {
    position:relative;
    left:150px;
    margin-top:5px;
}

.imagen-2 {
    position:relative;
    margin-top:5px;
    margin-left:50px;
    left:200px;
}

.checkbox{
    margin-top:10px;
margin-left:500px;
}
.label-desplegable-texto-imagen-2 {
    background-color: #C4C4C4;
    width: 154px;
    height: 129px
}
.label-desplegable-texto-imagen-1 {
    background-color: #C4C4C4;
    width: 154px;
    height: 129px
}

.estilo-imagen-desplegable-1 img{
    width:200px;
   
}

.estilo-imagen-desplegable-2 img {
    width: 200px;
}

.button-close-video{
    position:relative;
    top:30px;
   left:300px;
    width:20px;
    height:30px;
}

.video-guia-video {
    
        width:200px;
        
    margin-bottom:10px;
}
.input-video-guia{
    display:none;
}

.label-video-guia {
    background-color: #C4C4C4;
    width: 300px;
    height: 100px;
}

.label-video-guia img{
    margin-top:25px;
    margin-left: 42%;
    text-align:center;
}

.estilo-imagen-incrementable img{
    width:200px;
}

.estilos-desplazante {
    background-color: #C4C4C4;
    margin-top:10px;
    width: 60px;
    height: 60px;
}

.desplazante{
    margin-top:15px;
}

.button-close-dti{
    position:absolute;
    width:20px;
    height:30px;
}

.button-close-ti {
    position: relative;
    width: 30px;
    height: 30px;
    left:86px;
    top:30px;
    
}