* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('img/botón_d.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    
}

.men-image{
    position:absolute;
    height:590px;
    top:21%;
    left:24%;
}
.women-image {
    position: absolute;
    height: 590px;
    top: 21%;
    left: 59%;
}

.principal {
    margin-top: 30px;
}

/* Menu */

.container-general{
    position:sticky;
    top:20px;
}
.container-button-menu {
    text-align: center;
    position: sticky;
    top: 30px;
}

.button-class {
    background-color: #FF805B;
    border-color: #FF805B; 
    width: 60%;
    height: 60px;
    border-radius: 8px;
    
    color: white;
    font-size: 20px;
}

.showmenu-container {
    text-align: center;
    position: sticky;
    top: 115px;
}

.showmmenu-button {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    color:white;
    font-size: 50px;
    background-color: #19AA80;
}

.menu-container {
    position: sticky;
    top: 195px;
}

#menu {
    list-style: none;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

#menu:hover {
    cursor:pointer;
}

#menu .option-menu {
    height:30px;
    margin:5px;
}

#menu .option-menu:hover {
    background-color: #F8F9FA;
}
/* Menu */

.tituloCmp {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: black;
}

.texto {
    height: 140px;
}

.inputTexto {
    height: 53px;
    border: 1px dashed #9B9B9B !important;
    width: 100%;
}

.component {
    padding: 16px;
    margin-top: 20px;
    background-color: white;
    position: relative;
    border-radius: 8px;
    height: auto;
}

.texto-imagen {
    height: auto;
}

.icon-trash {
    margin-top: 5px;
    float: right;
}

.navegacion {
    background-color: #455A64;
    height: 88px;
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
}


.logo-kiosko {
    margin: 20px;
}

    .logo-kiosko .kiosko {
        width: 200px;
        height: 48.05px;
    }

.content-wrapper {
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.scroll {
    height: 500px;
    overflow-y: scroll;
}





.sidebar {
    background-color: #455A64;
}

.posicion-logo {
    background-color: #455A64;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}

.TESTCLASS {
    color: red;
}

.padre {
    display: flex;
}

.texto-imagen-1 {
    display: flex;
    margin: 20px;
    width: 80%;
    overflow-y: scroll;
    text-align: center;
}

.texto-imagen ul {
    border: solid;
    width: 300px;
    margin: 15px;
}

.contendor-lista {
    padding: 0 40px;
}

.texto-imagen-1 ul li {
    list-style: none;
    margin: 15px 0;
}

.titulo-input {
    border: #9B9B9B 1px dashed;
    width: 130px;
    height: 31px;
}

.botonincremento {
    width: 120px;
}


.descripcion-guia-video {
    text-align: center;
}

.descripcion-guia-video-input {
    border: 1px dashed #9B9B9B;
    margin:20px 0;
    height: 30px;
    width: 100%;
}

.descripcion-guia-video-input::placeholder{
    text-align:center;
}


.input-archivo {
    margin-bottom: 30px;
}

.texto-imagen-display {
    display: flex;
    width: 100%;
}

.contenedor-padre {
    text-align: center;
}

.position {
    margin-right: 30px;
    margin-bottom: 10px;
}

.input-desplegable-texto-imagen {
    display: none;
}

.label-desplegable-texto-imagen {
    width: 102px;
    height: 78px;
    background-color: #C4C4C4;
}

.estilo-imagen-desplegable {
    top: 0;
}

    .estilo-imagen-desplegable img {
        width: 200px;
    }

.estilo-imagen-desplazante img {
    width: 200px;
}
/*.button-close {
    position: relative;
    left: 200px;
    top: -45px;
}*/

.subtitle-input::placeholder {
    text-align: center;
}

.subtitle-input {
    border: #9B9B9B 1px dashed;
    width: 100%;
    height: 42px;
    margin-top: 18px;
}

.imagen-general {
    display: inline-flex;
}

.label-imagen-1 {
    margin-top: 10px;
}

.label-footer {
    margin-top: 22px;
}

.imagen-1 {
    margin: 0 50px;
    margin-top: 5px;
}

.imagen-2 {
    margin: 0 50px;
    margin-top: 5px;
}

.checkbox {
    margin-top: 20px;
    text-align: end;
}

.label-desplegable-texto-imagen-2 {
    background-color: #C4C4C4;
    width: 154px;
    height: 129px
}

.label-desplegable-texto-imagen-1 {
    background-color: #C4C4C4;
    width: 154px;
    height: 129px
}

.estilo-imagen-desplegable-1 img {
    width: 200px;
}

.estilo-imagen-desplegable-2 img {
    width: 200px;
}

.button-close-video {
    position: relative;
    top: 30px;
    left: 300px;
    width: 20px;
    height: 30px;
}

.input-video-guia {
    display: none;
}

.label-video-guia {
    background-color: #C4C4C4;
    display:block;
    margin-left:42%;
    width: 119px;
    height: 100px;
}

.video-guia-padre-input {
    text-align: center;
}

.label-video-guia img {
    margin-top: 25px;
}


.estilo-imagen-incrementable img {
    width: 200px;
}

.estilos-desplazante {
    background-color: #C4C4C4;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.desplazante {
    height: 129px;
    left: 204px;
    top: 59px;
    background: #C4C4C4;
}

.desplazante {
    margin-top: 15px;
}

.button-close-dti {
    position: absolute;
    width: 20px;
    height: 30px;
}

.button-close-ti {
    position: relative;
    width: 30px;
    height: 30px;
    left: 86px;
    top: 30px;
}

.textarea {
    width: 100%;
    border: 1px dashed #9B9B9B;
}

.file-Amagen {
    width: 20%;
    height: 30px;
    position: relative;
    display: inline-block;
    background-image: url(../img/img.png);
    background-size: 20px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
}

.estilo-imagen-texto-imagen img {
    width: 50%;
}

.estilo-imagen img {
    width: 100%;
}






.junto1 {
    display: flex;
    height: 180px;
}

.titulomax {
    width: 80%;
}

.titulomax1 {
    width: 80%;
    height: 80px;
}

.pop-up-input {
    display: none;
}

.container-texto-imagen {
    padding-left: 5%;
    padding-right: 5%;
}

    .container-texto-imagen > button {
        margin-inline: 0 !important;
    }

.input-img {
    display: none;
}

.container-imagen {
    background-color: #C4C4C4;
}

.btn-img {
    display: block;
    width: 100%;
    min-height: 65px;
    text-align: center;
}

.imagen-icon {
    width: 56px;
    height: 52px;
}

.video-icon {
    width: 66px;
    height: 62px;
}

.preview-img {
    text-align: center;
    min-height: 10px;
    height: auto;
}

.preview-img-small {
    text-align: center;
    min-height: 10px;
    height: 50px;
    position: relative;
    margin-top: -20px;
}

.preview-img-pop {
    text-align: center;
    min-height: 10px;
    height: auto;
}

.preview-img-carroucel {
    text-align: center;
    min-height: 10px;
    height: auto;
}

.preview-img > img {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.preview-img-small > img {
    width: 66px;
    height: 60px;
    object-fit: cover;
}

.preview-img-carroucel > img {
    width: 160px;
    height: 140px;
    object-fit: cover;
    margin-top:-27px;
    border-radius: 5px;
}

.button-close {
    position: relative;
    left: 150px;
    top: -46px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.button-close-ti1 {
    position: relative;
    left: 18px;
    top: 28px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.button-close-video {
    position: relative;
    left: 430px;
    top: -230px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.button-close-small {
    position: relative;
    left: 18px;
    top: 28px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.button-close-carroucel {
    position: relative;
    background-color: red;
    margin-left: 130px;
    width: 30px;
    color: white;
    font-weight: bold;
}

.container-dezplazante-texto-imagen, .container-carrucel {
    display: flex;
    align-content: center;
    align-items: center;
}

.desplazante-texto-imagen, .carroucel {
    width: 80%;
    display: flex;
    overflow-x: scroll;
    padding: 10px;
}

.carroucel {
    height: 230px;
}

.card-texto-imagen {
    border: 2px solid gray;
    border-radius: 5px;
    width: 300px !important;
    min-width: 300px;
    height: 280px;
    text-align: center;
    margin-right: 30px;
}

.card-imagen {
    width: 100px;
    height: 140px;
    padding: 16px;
    text-align: center;
    margin-left: 33%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-imagen > label {
    background-color: #C4C4C4;
}

.button-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-more {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 1px 3px 13px 1px #454545;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    color: rgba(56, 56, 56, 0.73);
}

.card-imagen-carroucel {
    min-width: 160px;
    width: 160px;
    height: 130px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 20px;
    /*display: flex;
    align-items: center;*/
    background-color: #C4C4C4;
}

.card-imagen-carroucel > label {
    border-radius: 5px;
}

.card-imagen-carroucel > label > img {
    width: 80px;
    height: 80px;

}

.container-desplegable {
    padding: 16px;
}

.container-desplegable-texto-imagen {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-desplegable-imagen {
    width: 110px;
    height: 80px;
    background-color: #C4C4C4;
}

.card-desplegable-texto {
    height: 80px;
    padding-left: 15px;
    flex-grow: 1;
}

.container-desplegable-imagenes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-img-desplegable {
    text-align: center;
    min-height: 10px;
    height: 50px;
    position: relative;
    margin-top: -20px;
}

.preview-img-desplegable > button {
    position: relative;
    left: 44px;
    top: 20px;
    background-color: red;
    width: 30px;
    color: white;
    font-weight: bold;
}

.preview-img-desplegable > img {
    width: 110px;
    height: 80px;
    margin-top: -8px;
    margin-right: -8px;
}

.card-imagen1 {
    width: 100px;
    height: 140px;
    padding: 16px;
    text-align: center;
    margin-left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/*css login*/
.container-login {
    width: 460px;
}

.top-container {
    width:100%;
    height:25px;
    background: linear-gradient(90.05deg, #E9501C -2.22%, #E11F1C 34.54%, #41AB34 50.47%, #008BD2 76.73%, #E6007E 102.8%);
border-radius: 12px 12px 0px 0px;
}

.logo-container {
    margin-top: 40px;
}

.text-container {
    margin-bottom:10%;
    text-align: center;
}

.text-container > p{
    font-size:22px;
    color:#000000;
}

.label-container{
    margin:7px 0px;
}

.label-container > span {
    font-size: 15px;
}

.container-user{
    margin-bottom:5%;
}
.input-user::placeholder{
   font-family:"Font Awesome 5 Free";
   font-size:15px;
}

.container-password {
    margin-bottom: 2%;
}

.input-password::placeholder {
    font-family: 'FontAwesome';
    font-weight: 100;
    font-size: 15px;
}

.item-container {
    text-align: center;
}

.span-item {
    margin-right:28%;
    margin-left:2%;
}
.fondo-login {
    align-items: center;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container-button{
    margin:40px 0px;
}

.container-button > button {
    width:100%;
    height:45px;
    color:#FFFFFF;
    font-size:20px;

    background-color: #07577F;
    border-radius:9px;
}
/*boton perfil*/
.icon{
    margin-left:20px;
}
.icon-inside {
    margin-top: 30px;
    transform: rotate(0deg);
}

.button-arrow-right {
    transform: rotate(180deg);
}

.profile-container {
    margin-top: -25px;
    text-align: end;
}

.message {
    margin-right: 3%;
}

.profile-button {
    margin-right: 7%;
    border:transparent;
    border-radius:15px;
}

.menu-item-container {
    margin-right: 4%;
}


/*boton perfil*/
.card-imagen2 {
    width: 100px;
    display: block;
    background-color: grey;
    height: 140px;
    padding: 16px;
    text-align: center;
    margin-left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.menu-configuration {
    display: flex;
    float: left;
    margin-top: 95%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}