body {
}
.principal {
    margin-top:30px;
}

.tituloCmp {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.texto {
    height: 120px;
}

.inputTexto {
    height: 53px;
    border: 1px dashed #9B9B9B !important;
    width: 100%;
}

.component {
    padding: 16px;
    margin-top: 20px;
    background-color: white;
    position: relative;
    height: auto;
}

.icon-trash {
    margin-top: 5px;
    float: right;
}

.marginUl {
    padding-left: 10px;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.TESTCLASS {
    color: red;
}