@model IEnumerable<kiosko.Models.Modulo>

@{
    ViewData["Title"] = "Index";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <div class="card">
                        <table id="tablaModulos" class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Padre</th>
                                <th>Es Desplegable</th>
                                <th>Tiempo de inactividad</th>
                                <th>Icono</th>
                                <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody id="tBodyModulos">
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalEditarModulo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalTitleModulo">Actualizar modulo</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formEditModulo" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="card-body">
                      <input type="hidden" name="idModulo" id="idModulo" class="form-control">
                      <div class="form-group">
                        <label for="tituloModulo">Título</label>
                        <input type="text" name="tituloModulo" id="tituloModulo" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="tiempoInactividad">Tiempo máximo de inactividad (días)</label>
                        <input type="number" name="tiempoInactividad" id="tiempoInactividad" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="iconoModulo">Icono</label>
                        <input type="file" name="iconoModulo" id="iconoModulo" class="form-control">
                      </div>
                      @*<div class="form-group">
                        <label for="iconoModulo">Icono</label>
                        <input type="file" name="iconoModulo" id="iconoModulo" class="form-control">
                      </div>*@
                      <!-- guia/favorito -->
                      <div id="divGuiaRapida" class="form-group" style="display: block">
                          <input type="checkbox" id="guiaRapidaa" class="ignore" name="guiaRapidaa" />
                          <label for="guiaRapidaa">Guias Rapidas</label>
                      </div>
                      <!-- fin - guia/favorito -->
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
@section scripts {
    <script type="text/javascript">
      var urlIcono = "";
      $(function () {
        getModulos();
      });
      function getModulos() {
        $("#tBodyModulos").empty();
        $.ajax({
            type: "GET",
            url: "/Modulos/GetAllModulos",
            success: function (response) {
                console.log(response);
                response.map(item => {
                    addItemToTable(item);
                });
                $('#tablaModulos').DataTable({
                  "paging": true,
                  "lengthChange": false,
                  "searching": false,
                  "ordering": true,
                  "info": true,
                  "autoWidth": false,
                  "responsive": true,
                });
            }
        });
      }

      function addItemToTable(item) {
          let id = item.id;
          let desplegable = item.desplegable;
          let titulo = item.titulo;
          let stringTitulo = "'"+titulo+"'";
          let padre = item.padre;
          let idModulo = item.idModulo;
          let textDesplegable = item.desplegable === 0 ? 'No' : 'Si';
          let tiempoInactividad = item.tiempoInactividad == null ? 0 : item.tiempoInactividad;
          let iconImagen = item.url;
          let stringUrl = "'"+item.url+"'";
          let favorito = item.favorito;
          let stringPadre = "'"+item.padre+"'";
          let trTable = "";
              trTable += '<tr id="tr' + idModulo + '">';
              trTable += '<td>'+idModulo+'</td>';
              trTable += '<td>'+titulo+'</td>';
              trTable += '<td>'+padre+'</td>';
              trTable += '<td>'+textDesplegable+'</td>';
              trTable += '<td>'+tiempoInactividad+' días</td>';
              trTable += '<td><img id="icon-Image" src="'+iconImagen+'"></td>';
              trTable += '<td><p><img src="/img/iconPencil.png" alt="icon trash" onclick="openModalEditModulo('+stringTitulo+','+tiempoInactividad+','+id+','+stringUrl+','+favorito+','+stringPadre+')">&nbsp;&nbsp;&nbsp;&nbsp;';
              trTable += '<img src="/img/iconTrash.png" alt="icon trash" onclick="removeModulo('+id+')"></p></td>';
              trTable += '</tr>';
          if (padre !== null) {
              console.log('entro if padre di nul');
              $("#tr" + padre).after(trTable);
          } else {
              $("#tBodyModulos").append(trTable);
          }
      }

      function openModalEditModulo(titulo, tiempoInactividad, id, url, favorito, padre) {
          $("#tituloModulo").val(titulo);
          $("#tiempoInactividad").val(tiempoInactividad);
          $("#idModulo").val(id);
          urlIcono = url;
          if(padre == "null"){
              $("#divGuiaRapida").hide();
              $("#iconoModulo").show();
          } else {
              $("#divGuiaRapida").show();
              $("#iconoModulo").hide();
          }
          if(favorito){
            $("#guiaRapidaa").prop("checked", true);
          } else {
            $("#guiaRapidaa").prop("checked", false);
          }
          $("#modalEditarModulo").modal("show");
          console.log(titulo, padre);
      }
      $.validator.setDefaults({
        submitHandler: function () {
            console.log('entro al submit');
            let filesImagen = $("#iconoModulo").prop("files");
            let url = "";
            let files = "";
            let favorito = $("#guiaRapidaa").prop("checked");
            if(filesImagen[0]){
              url = window.location.origin+'/files/'+filesImagen[0].name;
              files = filesImagen[0];
            }else{
              url = urlIcono;
            }
            const formData = new FormData();
            formData.append("idModulo", $("#idModulo").val());
            formData.append("tituloModulo", $("#tituloModulo").val());
            formData.append("tiempoInactividad", $("#tiempoInactividad").val());
            formData.append("Url", url);
            formData.append("Files", files);
            formData.append("Favorito", favorito);
            console.log(FormData);
            $.ajax({
              type: "POST",
              url: "/Modulos/updateModulo",
              headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                Swal.fire({
                    title: 'Bien!',
                    text: 'La información del modulo se ha actualizado con exito!',
                    type: 'success',
                    showConfirmButton: false,
                    timer: 3000
                  }).then((result) => {
                      location.reload();
                  })
                  
              },
              error: function (error) {
                  Swal.fire({
                      title: 'Error!',
                      text: 'Ha ocurrido un error al actualizar la información. Inténtelo de nuevo más tarde y si el problema persiste contacte con soporte!',
                      imageUrl: '/img/señalroja.png',
                      imageHeight: 212,
                      timer: 3000,
                  }).then((result) => {
                      location.reload();
                  })
              }
            });
        }
      });
      $('#formEditModulo').validate({
        rules: {
          tituloModulo: {
            required: true,
          },
          tiempoInactividad: {
            required: true,
          },
          iconoModulo: {
             extension: "png"
           },
        },
        messages: {
          tituloModulo: {
            required: "Ingrese el título del modulo",
          },
          tiempoInactividad: {
            required: "Ingrese el tiempo de inactividad",
          },
          iconoModulo: {
            extension: "debe ser png"
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            console.log('error');
            console.log(error);
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });

   function removeModulo(idModulo) {
    console.log(idModulo);
    Swal.fire({
       title: '¿Está seguro que desea borrar este modulo?',
        text: "Los cambios no podrán ser revertidos!",
        imageUrl: '/img/señalroja.png',
        imageHeight: 212,
        showCancelButton: true,
         confirmButtonColor: '#E11F1C',
        cancelButtonColor: '#5A5A5A',
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
                console.log("diferente");
                $.ajax({
                    type: "POST",
                    url: "/Modulos/deleteModulo",
                    headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
                    data: { id: idModulo  },
                    success: function (response) {
                        console.log('deleted');
                        console.log(response);
                        Swal.fire({
                            title: 'Bien!',
                            text: 'Los modulos se han actualizado con exito!',
                            imageUrl: '/img/señalverde.png',
                            imageHeight: 212,
                            showConfirmButton: false,
                            timer: 3000
                        })
                        location.reload();
                    },
                    error: function (error) {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Ha ocurrido un error al eliminar el módulo. Inténtelo de nuevo más tarde y si el problema persiste contacte con soporte!',
                            imageUrl: '/img/señalroja.png',
                            imageHeight: 212,
                            timer: 2000,
                        })
                    }
                });

        }
    })
}

    </script>
}