@model Modulo;
@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        
        });

        $(function () {
           $("#sortable").sortable();
        });
        function addComponent(type) {
            let component = generateComponent(type);
            console.log(component);
            $("#sortable").append(component);           
        }
                
        function removeComponent(idComponent) {
            $("#"+idComponent).remove();
        }

        function AddTextoImagen(stringId){
            console.log("Entre")
            console.log(stringId)
            $("#text"+stringId).append(
                        '<div class="padre">'+
                            '<ul>'+
                                '<li><input type="file"></li> '+
                                '<li><input class="titulo-input" type="text" placeholder="Titulo"></li>'+ 
                                '<li><input type="text" placeholder="Texto"></li>'+
                           '<ul>'+
                       '</div>');
        }


         function AddInput(stringId){
            console.log("Entre")
            console.log(stringId)
            $("#text"+stringId).append(
                        '<input type="File">'
                        
                            );
        }

        function preview(stringId)
        {
  console.log($("#imagen"+stringId).val());
  

           var imagenFile= $('#imagen'+stringId).prop('files');
           console.log(imagenFile);
           imagenFile=imagenFile[0];
           console.log(imagenFile);
           let reader = new FileReader();
            reader.readAsDataURL(imagenFile);
       reader.onload = function() {
            let preview = $('#preview'+stringId);
            $('#preview'+stringId).empty();
            imagen=document.createElement('img');
            imagen.src = reader.result;
            imagen.style.width = "200px";
            preview.innerHTML = "";
            preview.append(imagen);
        }
  

        }


function preview2(stringId)
        {
  console.log($("#imagen2"+stringId).val());
  

           var imagenFile2= $('#imagen2'+stringId).prop('files');
           console.log(imagenFile2);
           imagenFile2=imagenFile2[0];
           console.log(imagenFile2);
           let reader2 = new FileReader();
            reader2.readAsDataURL(imagenFile2);
       reader2.onload = function() {
            let preview2 = $('#preview2'+stringId);
            $('#preview2'+stringId).empty();
            imagen2=document.createElement('img');
            imagen2.src = reader2.result;
            imagen2.style.width = "200px";
            preview2.innerHTML = "";
            preview2.append(imagen2);
        }
  

        }


function preview3(stringId)
        {
  console.log($("#imagen3"+stringId).val());
  

           var imagenFile3= $('#imagen3'+stringId).prop('files');
           console.log(imagenFile3);
           imagenFile3=imagenFile3[0];
           console.log(imagenFile3);
           let reader3 = new FileReader();
            reader3.readAsDataURL(imagenFile3);
       reader3.onload = function() {
            let preview3 = $('#preview3'+stringId);
            $('#preview3'+stringId).empty();
            imagen3=document.createElement('img');
            imagen3.src = reader3.result;
            imagen3.style.width = "200px";
            preview3.innerHTML = "";
            preview3.append(imagen3);
        }
  

        }

        function preview4(stringId)
        {
  console.log($("#imagen4"+stringId).val());
  

           var imagenFile4= $('#imagen4'+stringId).prop('files');
           console.log(imagenFile4);
           imagenFile4=imagenFile4[0];
           console.log(imagenFile4);
           let reader4 = new FileReader();
            reader4.readAsDataURL(imagenFile4);
       reader4.onload = function() {
            let preview4 = $('#preview4'+stringId);
            $('#preview4'+stringId).empty();
            imagen4=document.createElement('img');
            imagen4.src = reader4.result;
            imagen4.style.width = "200px";
            preview4.innerHTML = "";
            preview4.append(imagen4);
        }
  

        }

         function preview6(stringId)
        {
  console.log($("#imagen6"+stringId).val());
  

           var imagenFile6= $('#imagen6'+stringId).prop('files');
           console.log(imagenFile6);
           imagenFile6=imagenFile6[0];
           console.log(imagenFile6);
           let reader6 = new FileReader();
            reader6.readAsDataURL(imagenFile6);
       reader6.onload = function() {
            let preview6 = $('#preview6'+stringId);
            $('#preview6'+stringId).empty();
            imagen6=document.createElement('video');
            imagen6.src = reader6.result;
            imagen6.controls = true;
            imagen6.style.width = "600px";
            preview6.innerHTML = "";
            preview6.append(imagen6);
        }

        }
        
        function previewVideo(stringId){
            console.log(stringId)
            var file = $('#file'+stringId).prop('files');
            file = file[0];
            console.log(file);
            let readerVideo = new FileReader();
            readerVideo.readAsDataURL(file);
            readerVideo.onload = function(){
                let preVideo = $('#previewVideo'+stringId);
                $('#previewVideo'+stringId).empty();
                video=document.createElement('video');
                video.src = readerVideo.result;
                video.style.width = "400px";
                video.controls = true;
                preVideo.innerHTML = "";
                preVideo.append(video);
            }
        }

        function previewImagen(stringId){
            console.log(stringId)
            var file = $('#file'+stringId).prop('files');
            file = file[0];
            console.log(file);
            let readerimg = new FileReader();
            readerimg.readAsDataURL(file);
            readerimg.onload = function(){
                let preImagen = $('#previewImagen'+stringId);
                $('#previewImagen'+stringId).empty();
                img=document.createElement('img');
                img.src = readerimg.result;
                img.style.width = "400px";
                preImagen.innerHTML = "";
                preImagen.append(img);
            }
        }

        function toggleButton(stringId){
            var link = $('#inputLink'+stringId).val();
            console.log(link);
            if(link){
                $('#previewLink'+stringId).css('visibility', 'visible');
            } 
            else{
               $('#previewLink'+stringId).css('visibility', 'hidden');
            }
        }

        function AddPreviewLink(stringId){
            let enlace = document.getElementById('inputLink'+stringId).value;
            console.log("Entre");
            console.log(enlace);
            console.log(stringId);
            console.log('inputLink'+stringId);
            document.getElementById("previewLink"+stringId).innerHTML = ['<iframe  width="660%" height="200px" src="'+enlace+'"></iframe>'];
        }
        
        function generateComponent(type) {
            let idComponent = Math.random().toString(36).substring(2,7);
            let stringId = "'"+idComponent+"'";
            let component = "";
            switch(type) {
              case 'texto':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
              case 'subtitulo':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
                case 'texto-imagen':
              default:
                component =
                '<div class="col-lg-12 texto component texto-imagen" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                      '<div class="padre">'+
                                '<div class="texto-imagen-1" id="text'+idComponent+'">'+
                                    '<ul>'+
                                        '<li><input type="file" id="imagen4'+idComponent+'" onchange="preview4('+stringId+')"></li>'+
                                        '<div id="preview4'+idComponent+'" class="estilo-imagen-texto-imagen">'+
                                        '</div>'+
                                        '<li><input class="titulo-input" type="text" placeholder="Titulo"></li>'+
                                        '<li><input type="text" placeholder="Texto"></li>'+
                                    '</ul>'+
                                '</div>'+
                            '<div class=botonincremento>'+
                                '<button onclick="AddTextoImagen('+stringId+')">Agregar Nuevo Archivo </button>' +
                             '</div>'+
                      '</div>'+
                '</div>';
              break;
                case 'imagen':
                  component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                '<div class="file-Imagen">'+
                                    '<input type="file" class="inputImagen" name="file" id="file'+idComponent+'" accept=".png" onchange="previewImagen('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewImagen'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</div>'+
                                '</ul>'+
                           '</div>'+
                          '<input class="inputs" type="text" placeholder="Pie de Foto"/>'+
                          '</div>'+
                  '</div>';
                  break;
                case 'video':
                  component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                '<div class="file-Video">'+
                                    '<input type="file" name="file" id="file'+idComponent+'" accept=".mp4" onchange="previewVideo('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewVideo'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</div>'+
                                '</ul>'+
                           '</div>'+
                          '</div>'+
                  '</div>';
              break;
                case 'enlace':
                component = 
                  '<div class="col-lg-12 texto component CompoEnlace" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="margenContainer">'+
                                '<input class="inputTitulo" type="text" placeholder="Titulo""/>'+
                                '<div class="inputLinkContainer">'+
                                    '<input class="inputLink" id="inputLink'+idComponent+'" name="link" type="text" placeholder="Link" onkeyup="toggleButton('+stringId+')"/>'+
                                    '<button class="botonEnlace" onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="50px"/> </button>'+
                                '</div>'+
                            '<p class="selColor">Elige un color para asignarle.</p>'+
                            'Color '+
                            '<input class="Color-Selector"  type="color">'+
                          '</div>'+
                  '</div>';
                break;
                case 'banner informativo':
                component = 
                  '<div class="col-lg-12 texto component CompEnlace" id="'+idComponent+'">'+
                        '<div id="backgroundBanner">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                          '<p class="selColor">Elige un color para asignarle.</p>'+
                            'Color '+
                            '<input class="Color-Selector" type="color">'
                        '</div>'+
                  '</div>';
                break;
                case 'PopUpVideo':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text" placeholder="Texto...">'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                    '<input type="file" name="file" id="file'+idComponent+'" accept=".mp4" onchange="previewVideo('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewVideo'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</ul>'+
                           '</div>'+
                        '</div>'+
                  '</div>';
                break;
                case 'video-guia':
                component =
                  '<div class="col-lg-12  texto component CompEnlace " id="'+idComponent+'">'+
                        '<div id="backgroundBanner">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                            '<div class="video-guia-padre">'+
                                '<ul>'+
                                    '<li class="input-archivo"><input type="file" id="imagen6'+idComponent+'" onchange="preview6('+stringId+')"></li>'+
                                    '<div id="preview6'+idComponent+'" class="estilo-imagen">'+
                                        '</div>'+
                                    '<li><textarea name="" id="ckeditor" class="ckeditor" cols="30" rows="3" placeholder="texto"></textarea></li>'+
                                '</ul>'+
                           '</div>'+
                  '</div>';
            break;
                case 'Desplegable texto-imagen':
                component =
                  '<div class="col-lg-12 texto component " id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                      '<div class="contenedor-padre">'+
                            '<div>'+
                                 '<input type="file" id="imagen'+idComponent+'"  accept=".jpg, .png, .jpeg" onchange="preview('+stringId+')">'+
                                 '<input type="text" placeholder="subtitulo">'+
                                    '<div id="preview'+idComponent+'" class="estilo-imagen">'+
                                    '</div>'+
                            '</div>'+
                            '<div class="footer">'+
                                '<div class="comentario">'+
                                   '<textarea name="" id="" cols="50" rows="3" placeholder="texto"></textarea>'+
                                '</div>'+
                                '<div>'+
                                    '<input type="file" id="imagen2'+idComponent+'"  accept=".jpg, .png, .jpeg" onchange="preview2('+stringId+')">'+
                                    '<input type="file" id="imagen3'+idComponent+'"  accept=".jpg, .png, .jpeg" onchange="preview3('+stringId+')">'+
                                '</div>'+
                                   '<div class="imagen-general">'+
                                        '<div id="preview2'+idComponent+'" class="estilo-imagen-desplegable-1">'+
                                        '</div>'+
                                        '<div id="preview3'+idComponent+'" class="estilo-imagen-desplegable-2">'+
                                        '</div>'+
                                    '</div>'+
                            '</div>'+
                      '</div>'+
                  '</div>';
            break;
             case 'Acceso-Cursos':
                component = 
                  '<div class="col-lg-12 texto component CompoEnlace" id="'+idComponent+'">'+
                        '<div id="background">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div>'+
                          '<input type="file" name="file" id="file'+idComponent+'" accept=".png" onchange="previewImagen('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewImagen'+idComponent+'" class="estilo-imagen"> </div>'+
                           '<div id="preview'+idComponent+'" class="estilo-imagen">'+ 
                            '<input class="inputTitulo" type="text" placeholder="Titulo"/>'+
                            '<div class="inputLinkContainer row">'+
                            '<input id="inputLink'+idComponent+'" type="text" placeholder="Link"/>'+
                            '</div>'+
                            '<button onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="100px"/> </button>' +
                            '<p class="selColor">Elige un color para asignarle.</p>'+
                            'Color'+
                            '<input class="Color-Selector"  type="color">'+
                          '</div>'+
                        '</div>'+
                  '</div>';
                break;
                 case 'Pop-up':
                component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text" placeholder="Texto...">'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                    '<input type="file" name="file" id="file'+idComponent+'" accept=".png" onchange="previewImagen('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewImagen'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</ul>'+
                           '</div>'+
                        '</div>'+
                  '</div>';
                break;

                case 'Carrucel':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<DIV id="dropzoneImagen">'+
                            '<FORM class="dropzone" id="DropImagen'+idComponent+'" action="/upload" onclick="genereDropImagen('+stringId+')">'+
                            '</FORM>'+
                          '</DIV>'+
                          '<div>'+
                          '<div>'+
                  '</div>';
                break;
            }
            return (component);

        }
    </script>
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="row" id="sortable">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Menu components</h5>
                <br/>
                <ul id="sortable">
                  <li class="option-menu" onclick="addComponent('texto')">Texto</li>
                  <li class="option-menu" onclick="addComponent('subtitulo')">Subtitulo</li>
                  <li class="option-menu" onclick="addComponent('imagen')">Imagen</li>
                  <li class="option-menu" onclick="addComponent('texto-imagen')">Desplazante Texto-Imagen</li>
                  <li class="option-menu" onclick="addComponent('video')">Video</li>
                  <li class="option-menu" onclick="addComponent('enlace')">Enlace</li>
                  <li class="option-menu" onclick="addComponent('banner informativo')">Banner Informativo</li>
                  <li class="option-menu" onclick="addComponent('PopUpVideo')">Pop-Up Video</li>
                  <li class="option-menu" onclick="addComponent('video-guia')">video-guia</li>
                  <li class="option-menu" onclick="addComponent('Acceso-Cursos')">Acceso-cursos</li>
                  <li class="option-menu" onclick="addComponent('Carrucel')">Carrucel</li>
                  <li class="option-menu" onclick="addComponent('Pop-up')">Pop-up</li>
                  <li class="option-menu" onclick="addComponent('Desplegable texto-imagen')">Desplegable texto-imagen</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>