@model Modulo;
@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
           $("#sortable").sortable();
        });

        function addComponent(type) {
            let component = generateComponent(type);
            $("#sortable").append(component);
        }

        function removeComponent(idComponent) {
            $("#"+idComponent).remove();
        }

        function generateComponent(type) {
            let idComponent = Math.random().toString(36).substring(2,7);
            let stringId = "'"+idComponent+"'";
            let component = "";
            switch(type) {
              case 'texto':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
              case 'subtitulo':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
                case 'imagen':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<form action="/file-upload"'+
                                'class="dropzone mt-1"'+
                                'id="DropImagen">'+
                          '</form>'+
                          '<input class="w-100 mt-1 inputs" type="text" placeholder="Pie de Foto" />'+
                  '</div>';
                break;
                case 'video':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<form action="/file-upload"'+
                                'class="dropzone mt-1"'+
                                'id="DropVideo">'+
                          '</form>'+
                  '</div>';
                break;
                case 'enlace':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div>'+
                            '<input class="inputTitulo" type="text"  placeholder="Titulo"/>'+
                            '<input class="inputLink" type="text" placeholder="Link"/>'+
                            '<p>Elige un color para asignarle.</p>'+
                            'Color'+
                            '<input class="Color-Selector" type="color">'+
                        '</div>'+
                  '</div>';
                break;
              default:
                component = "";
            }
            return component;
        }
        Dropzone.autoDiscover = false;
        var $Dropzone = new Dropzone('#DropImagen', {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            acceptedFiles: ".png",
            //all your settings here.*
            });
    </script>
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="row" id="sortable">
            </div>
            <form action="/file-upload"
                  class="dropzone mt-1"
                  id="DropVideo">
            </form>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Menu components</h5>
                <br/>
                <ul id="sortable">
                  <li class="option-menu" onclick="addComponent('texto')">Texto</li>
                  <li class="option-menu" onclick="addComponent('subtitulo')">Subtitulo</li>
                  <li class="option-menu" onclick="addComponent('imagen')">Imagen</li>
                  <li class="option-menu" onclick="addComponent('video')">Video</li>
                  <li class="option-menu" onclick="addComponent('enlace')">Enlace</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
