@model Modulo;
@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script type="text/javascript">
        var indexImagen = 1;
        $(document).ready(function () {
        
        });

        $(function () {
           $("#sortable").sortable();
        });
        function addComponent(type) {
            let component = generateComponent(type);
            $("#sortable").append(component);
          }          
        
        function removeComponent(idComponent) {
            $("#"+idComponent).remove();
        }

        function AddTextoImagen(stringId){
            console.log("Entre")
            console.log(stringId)
            let idImg = "imagen"+stringId+"-"+indexImagen;
            let idPreview = "imgPreview"+stringId+"-"+indexImagen;
            let newStringId = "'"+stringId+"'";
            $("#text"+stringId).append(
                        
                            '<ul>'+
                                '<li><input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+')"></li>'+
                                '<div id="'+idPreview+'" class="estilo-imagen-texto-imagen"></div>'+ 
                                '<li><input class="titulo-input" type="text" placeholder="Titulo"></li>'+ 
                                '<li><input type="text" placeholder="Texto"></li>'+
                           '</ul>'
                           
                       );
            indexImagen = indexImagen + 1;
        }

         function AddCarrucel(stringId){
            console.log("Entre")
            console.log(stringId)
            let idImg = "imagen"+stringId+"-"+indexImagen;
            let idPreview = "imgPreview"+stringId+"-"+indexImagen;
            let newStringId = "'"+stringId+"'";
            $("#text"+stringId).append(
                        '<div class="padre">'+
                            '<ul>'+
                                '<li><input type="file" id="'+idImg+'" onchange="generatePreview('+newStringId+','+indexImagen+')"></li>'+
                                '<div id="'+idPreview+'" class="estilo-imagen-texto-imagen"></div>'+ 
                           '<ul>'+
                       '</div>');
            indexImagen = indexImagen + 1;
        }

        function generatePreview(stringId,indexImagen) {
            console.log('entro generate preview');
            console.log(stringId);
            $(this).css("display","none")
            console.log($(this));
            let idImg = "imagen"+stringId+"-"+indexImagen;
            let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
            let idPreview = "imgPreview"+stringId+"-"+indexImagen;
            let imgFile = $("#"+idImg).prop("files");
            imgFile = imgFile[0];
            let reader = new FileReader();
            reader.readAsDataURL(imgFile);
            $("#"+idImg).css("display","none")
            $("#"+idImgclose).css("display","block")
            reader.onload = function() {
                let preview = $("#"+idPreview);
                $("#"+idPreview).empty();
                stringId = "'"+stringId+"'"
                $("#"+idPreview).append('<button id="imagenclose'+stringId+'-'+indexImagen+'"  class="button-close"  onclick="deletePreview('+stringId+','+indexImagen+')">x</button>');
                imagen = document.createElement('img');
                imagen.src = reader.result;
                imagen.style.width = "200px";
                preview.innerHTML = "";
                preview.append(imagen);
            }
        }

        function previewVideo(stringId){
            console.log(stringId)
            $(this).css("display","none")
            console.log($(this))
            let idVideo = "file"+stringId;
            let idPreview = "previewVideo"+stringId;
            var file = $('#file'+stringId).prop('files');
            file = file[0];
            console.log(file);
            let readerVideo = new FileReader();
            readerVideo.readAsDataURL(file);
            $("#"+idVideo).css("display","none")
            readerVideo.onload = function(){
                let preVideo = $('#previewVideo'+stringId);
                $('#previewVideo'+stringId).empty();
                video=document.createElement('video');
                video.src = readerVideo.result;
                video.style.width = "400px";
                video.controls = true;
                preVideo.innerHTML = "";
                preVideo.append(video);
            }
        }

        function deletePreview(stringId,indexImagen){
            let idImg = "imagen"+stringId+"-"+indexImagen;
            let idPreview = "imgPreview"+stringId+"-"+indexImagen;
            let idImgclose = "imagenclose"+stringId+"-"+indexImagen;
            $("#"+idImg).css("display","block")
            $("#"+idPreview).empty();
            $("#"+idImgclose).css("display","none")
        }
        
         function AddInput(stringId){
            console.log("Entre")
            console.log(stringId)
            $("#text"+stringId).append(
                        '<input type="File">'
                        
                            );
        }
        
        function previewVideoE(stringId){
            var file = $('#file'+stringId).prop('files');
            file = file[0];
            console.log(file);
            let readerVideo = new FileReader();
            readerVideo.readAsDataURL(file);
            readerVideo.onload = function(){
                let preVideo = $('#previewVideo'+stringId);
                $('#previewVideo'+stringId).empty();
                video=document.createElement('video');
                video.src = readerVideo.result;
                video.style.width = "50%";
                video.controls = true;
                preVideo.innerHTML = "";
                preVideo.append(video);
                $('#file'+stringId).remove();
            }
        }

        function previewImagen(stringId){
            console.log(stringId)
            var file = $('#file'+stringId).prop('files');
            file = file[0];
            console.log(file);
            let readerimg = new FileReader();
            readerimg.readAsDataURL(file);
            readerimg.onload = function(){
                let preImagen = $('#previewImagen'+stringId);
                $('#previewImagen'+stringId).empty();
                img=document.createElement('img');
                img.src = readerimg.result;
                img.style.width = "40%";
                preImagen.innerHTML = "";
                preImagen.append(img);
                $('#file'+stringId).remove();
            }
        }

        function toggleButton(stringId){
            var link = $('#inputLink'+stringId).val();
            console.log(link);
            if(link){
                $('#previewLink'+stringId).css('visibility', 'visible');
            } 
            else{
               $('#previewLink'+stringId).css('visibility', 'hidden');
            }
        }
      
        function AddPreviewLink(stringId){
            let enlace = document.getElementById('inputLink'+stringId).value;
            console.log("Entre");
            console.log(enlace);
            console.log(stringId);
            console.log('inputLink'+stringId); 
            document.getElementById("previewLink"+stringId).innerHTML = ['<iframe  width="300px" height="200px" src="'+enlace+'"></iframe>'];
        }
        
        function generateComponent(type) {
            let idComponent = Math.random().toString(36).substring(2,7);
            let stringId = "'"+idComponent+"'";
            let component = "";
            switch(type) {
              case 'texto':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
              case 'subtitulo':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text">'+
                  '</div>';
                break;
               case 'texto-imagen':
                component =
                '<div class="col-lg-12 texto component texto-imagen" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                      '<div class="padre">'+
                                '<div class="texto-imagen-1" id="text'+idComponent+'">'+
                                    '<ul>'+
                                        '<li><input type="file" id="imagen'+idComponent+'-'+indexImagen+'" onchange="generatePreview('+stringId+','+indexImagen+')"></li>'+
                                        '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen-texto-imagen">'+
                                        '</div>'+
                                        '<li><input class="titulo-input" type="text" placeholder="Titulo"></li>'+
                                        '<li><input type="text" placeholder="Texto"></li>'+
                                    '</ul>'+
                                '</div>'+
                            '<div class=botonincremento>'+
                                '<button onclick="AddTextoImagen('+stringId+')"> Agregar Nuevo Archivo </button>'+
                             '</div>'+
                      '</div>'+
                '</div>';
                indexImagen = indexImagen + 1;
              break;
               case 'imagen':
                  component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                '<div class="file-Imagen">'+
                                    '<input type="file" class="inputImagen" name="file" id="file'+idComponent+'" accept=".png" onchange="previewImagen('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewImagen'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</div>'+
                                '</ul>'+
                           '</div>'+
                          '<input class="inputs" type="text" placeholder="Pie de Foto"/>'+
                          '</div>'+
                  '</div>';
                  break;
                case 'video':
                  component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                '<div class="file-Video">'+
                                    '<input type="file" name="file" id="file'+idComponent+'" accept=".mp4" onchange="previewVideoE('+stringId+')" >'+
                                     '<!--previsualizar-->'+
                                    '<div id="previewVideo'+idComponent+'" class="estilo-imagen"> </div>'+
                                '</div>'+
                                '</ul>'+
                           '</div>'+
                          '</div>'+
                  '</div>';
              break;


                case 'enlace':
                component = 
                  '<div class="col-lg-12 texto component CompoEnlace" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div class="margenContainer">'+
                                '<input class="inputTitulo" type="text" placeholder="Titulo""/>'+
                                '<div class="inputLinkContainer">'+
                                    '<input class="inputLink" id="inputLink'+idComponent+'" name="link" type="text" placeholder="Link" onkeyup="toggleButton('+stringId+')"/>'+
                                    '<button class="botonEnlace" onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="50px"/> </button>'+
                                '</div>'+
                            '<p class="selColor">Elige un color para asignarle.</p>'+
                            'Color '+
                            '<input class="Color-Selector"  type="color">'+
                          '</div>'+
                  '</div>';
                break;
                case 'banner informativo':
                component = 
                  '<div class="col-lg-12 texto component CompEnlace" id="'+idComponent+'">'+
                        '<div id="backgroundBanner">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<textarea class="inputTexto" type="text"></textarea>'+
                          '<p class="selColor">Elige un color para asignarle.</p>'+
                            'Color '+
                            '<input class="Color-Selector" type="color">'
                        '</div>'+
                  '</div>';
                break;
                case 'PopUpVideo':
                component = 
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                        '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                        '<p>'+
                        '<div class="margenContainer">'+
                            '<textarea class="inputTexto" type="text" placeholder="Texto..."></textarea>'+
                                '<div class="video-guia-padre">'+
                                    '<ul>'+
                                        '<div class="file-Video2">'+
                                            '<input type="file" name="file" id="file'+idComponent+'" accept=".mp4" onchange="previewVideoE('+stringId+')" >'+
                                            '<!--previsualizar-->'+
                                            '<div id="previewVideo'+idComponent+'" class="estilo-imagen"> </div>'+
                                        '</div>'+
                                    '</ul>'+
                                '</div>'+
                        '</div>'+
                  '</div>';
                break;
                case 'video-guia':
                component =
                  '<div class="col-lg-12  texto component CompEnlace " id="'+idComponent+'">'+
                        '<div id="backgroundBanner">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                            '<div class="video-guia-padre">'+
                                '<ul>'+
                                    '<li class="input-archivo"><input type="file" id="file'+idComponent+'" onchange="previewVideo('+stringId+')"></li>'+
                                    '<div id="previewVideo'+idComponent+'"   class="estilo-imagen-texto-imagen">'+    
                                         
                                        '</div>'+
                                    '<li><input type="text" placeholder="Descripcion"></li>'+
                                '</ul>'+
                           '</div>'+
                  '</div>';
            break;
                case 'Desplegable texto-imagen':
                component =
                  '<div class="col-lg-12 texto component " id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                      '<div class="contenedor-padre">'+
                            '<div class="texto-imagen-display">'+
                                 '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'"  accept=".jpg, .png, .jpeg" onchange="generatePreview('+stringId+','+indexImagen+')">'+
                                  '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen">'+ 
            
                                   '</div>'+
                                 '<input class="subtitle-input" type="text" placeholder="subtitulo">'+
                            
                                         
                            '</div>'+

                            '<div class="footer">'+
                                '<div class="comentario">'+
                                   '<textarea name="" id="" cols="50" rows="3" placeholder="texto"></textarea>'+
                                '</div>'+
                                
                                '<div class="imagen-general">'+
                                  '<div class="imagen-1">'+
                                    '<input type="file" id="imagen'+idComponent+'-'+(indexImagen + 1)+'"  accept=".jpg, .png, .jpeg" onchange="generatePreview('+stringId+','+(indexImagen + 1)+')">'+
                                    '<div id="imgPreview'+idComponent+'-'+(indexImagen + 1)+'" class="estilo-imagen-desplegable-1">'+ 
            
                                    '</div>'+
                                  '</div>'+
                                 '<div class="imagen-2">'+
                                    '<input type="file" id="imagen'+idComponent+'-'+(indexImagen + 2)+'"  accept=".jpg, .png, .jpeg" onchange="generatePreview('+stringId+','+(indexImagen + 2)+')">'+
                                    '<div id="imgPreview'+idComponent+'-'+(indexImagen + 2)+'" class="estilo-imagen-desplegable-2">'+ 
            
                                    '</div>'+
                                  '<div>'+
                                '</div>'+

                                   '<div >'+
                                        

                                        

                                    '</div>'+
                                
                            '</div>'+
                      '</div>'+
                  '</div>';
                  indexImagen = indexImagen + 2;
            break;
             case 'Acceso-Cursos':
                component = 
                  '<div class="col-lg-12 texto component CompoEnlace" id="'+idComponent+'">'+
                        '<div id="background">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<div>'+
                                '<div class="file-Amagen">'+
                                    '<input type="file" name="file" id="imagen'+idComponent+'-'+indexImagen+'" accept=".png" onchange="generatePreview('+stringId+','+indexImagen+')">'+
                                '</div>'+
                                '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen"></div>'+ 
                                     '<div id="preview'+idComponent+'" class="estilo-imagen">'+ 
                                     '<input class="inputTitulo" type="text" placeholder="Titulo"/>'+
                                     '<div class="inputLinkContainer row">'+
                                     '<input class="inputLink" id="inputLink'+idComponent+'" name="link" type="text" placeholder="Link" onchange="toggleButton('+stringId+')"/>'+
                                '</div>'+
                                '<button onclick="AddPreviewLink('+stringId+')" id="previewLink'+idComponent+'"> <img src="/img/check.png" width="100px"/> </button>' +
                                '<p class="selColor">Elige un color para asignarle.</p>'+
                                'Color'+
                                '<input class="Color-Selector"  type="color">'+
                         '</div>'+
                        '</div>'+
                  '</div>';
                  indexImagen = indexImagen + 1;
                break;
                 case 'Pop-up':
                component =
                  '<div class="col-lg-12 texto component" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                          '<input class="inputTexto" type="text" placeholder="Texto...">'+
                          '<div class="video-guia-padre">'+
                                '<ul>'+
                                    '<input type="file" id="imagen'+idComponent+'-'+indexImagen+'" accept=".png" onchange="generatePreview('+stringId+','+indexImagen+')">'+
                                    '<div id="imgPreview'+idComponent+'-'+indexImagen+'" class="estilo-imagen">'+ 
                                '</ul>'+
                           '</div>'+
                        '</div>'+
                  '</div>';
                break;

                case 'Carrucel':
                component =
                '<div class="col-lg-12 texto component texto-imagen" id="'+idComponent+'">'+
                          '<p class="tituloCmp">'+type+
                            '<img src="/img/iconTrash.png" alt="icon trash" class="icon-trash" onclick="removeComponent('+stringId+')">'+
                          '<p>'+
                      '<div class="padre">'+
                                '<div class="texto-imagen-1" id="text'+idComponent+'">'+
                                    '<ul>'+
                                        '<li><input type="file" id="imagen4'+idComponent+'" onchange="preview4('+stringId+')"></li>'+
                                        '<div id="preview4'+idComponent+'" class="estilo-imagen-texto-imagen">'+
                                        '</div>'+
                                    '</ul>'+
                                '</div>'+
                            '<div class=botonincremento>'+
                                '<button onclick="AddCarrucel('+stringId+')">Agregar Nuevo Archivo </button>' +
                             '</div>'+
                      '</div>'+
                '</div>';
              break;
            }
            return (component);

        }
    </script>
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="row" id="sortable">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Menu components</h5>
                <br/>
                <ul id="sortable">
                  <li class="option-menu" onclick="addComponent('texto')">Texto</li>
                  <li class="option-menu" onclick="addComponent('subtitulo')">Subtitulo</li>
                  <li class="option-menu" onclick="addComponent('imagen')">Imagen</li>
                  <li class="option-menu" onclick="addComponent('texto-imagen')">Desplazante Texto-Imagen</li>
                  <li class="option-menu" onclick="addComponent('video')">Video</li>
                  <li class="option-menu" onclick="addComponent('enlace')">Enlace</li>
                  <li class="option-menu" onclick="addComponent('banner informativo')">Banner Informativo</li>
                  <li class="option-menu" onclick="addComponent('PopUpVideo')">Pop-Up Video</li>
                  <li class="option-menu" onclick="addComponent('video-guia')">video-guia</li>
                  <li class="option-menu" onclick="addComponent('Acceso-Cursos')">Acceso-cursos</li>
                  <li class="option-menu" onclick="addComponent('Carrucel')">Carrucel</li>
                  <li class="option-menu" onclick="addComponent('Pop-up')">Pop-up</li>
                  <li class="option-menu" onclick="addComponent('Desplegable texto-imagen')">Desplegable texto-imagen</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>