@using Microsoft.AspNetCore.Identity
@using kiosko.Models
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<nav class="main-header navegacion">
    <!-- Left navbar links -->
        <a  class="icon" data-widget="pushmenu" href="#" role="button" onclick="iconRotate()"><i id="iconbutton" class="fas fa-angle-left icon-inside" style="color: #1f2d3d;"></i></a>
     
        <div class="profile-container">
                    @if (signInManager.IsSignedIn(User))
                    {
                        
                             <span class="message">Hello @userManager.GetUserName(User)</span>
                        
                    }
        
                <button class="profile-button" onclick="showOption()">
                <img src="~/img/usuario.png" />
                </button>
            
            <div class="menu-item-container">
                   <ul id="menu-perfil" style="display: none">
                     <li>
                        <a class="ancla-contain" asp-controller="Account" asp-action="Logout">Cerrar Sesion</a>
                     </li>
                   </ul>
            </div>
        </div>
  </nav>
  <!-- /.navbar -->

  <script type="text/javascript">

    var isShowing = "block";
    function showOption() {
      console.log('entro');
        $("#menu-perfil").css("display", isShowing);
        if(isShowing == "block"){
          isShowing = "none";
        }else{
      	  isShowing = "block";
          }
    }

    var show = "none";
    var icon = "block";
    function iconRotate(){
        $("#iconbutton").toggleClass("button-arrow-right");
        $("#logoKiosko").css("display", show);
        $("#iconoKiosko").css("display", icon);
        if(show == "none"){
            show ="block";
        }else{
            show = "none";
        }
        if(icon == "block"){
            icon = "none";
        }
        else{
            icon = "block";
        }

        }
    
</script>