@using Microsoft.AspNetCore.Identity
@using kiosko.Models
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">*@
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">*@

<nav class="main-header navegacion">
    <!-- Left navbar links -->
        <a  class="icon" data-widget="pushmenu" href="#" role="button" onclick=""><i id="iconbutton" class="fas icon-inside" style="color: #1f2d3d;"></i></a>
     
        <div class="profile-container center">
            <div class="containernav">
                    @if (signInManager.IsSignedIn(User))
                    {
                             <span class="message">Hello @userManager.GetUserName(User)</span>
                    }
            
                <button class="profile-button" onclick="showOption()">
                <img src="~/img/usuario.png" />
                </button>
                <span id="classMenu" class="fas fa-angle-left right space"/>
            </div>

            <div class="menu-item-container0" id="menu-perfil"  style="display: none" >
                <div class="menu-item-container" >
                    <div class="option">
                        <a class="bi bi-person-plus item-m" href="/Account/RegisterAdmin"><label>Crear Usuario</label></a>     <br />
                    </div>
                    <div class="linea-div">
                        <hr />
                    </div>
                    <div class="option">
                        <a class="bi bi-box-arrow-right item-m" asp-controller="Account" asp-action="Logout"><label>Cerrar Sesión</label></a>
                    </div>
                </div>
            </div>
        </div>
  </nav>
  <!-- /.navbar -->

  <script type="text/javascript">

    var isShowing = "block";
    var active = "00";
    function showOption() {
      console.log('entro');
        $("#menu-perfil").css("display", isShowing);
        if(isShowing == "block"){
          active = "00";
          isShowing = "none";
        }else{
      	  isShowing = "block";
          active = "11";
        }
      if (active === "11"){
          $("#classMenu").removeClass("active2");
          console.log(active,"desactivo?");
      }
      if (active === "00"){
          $("#classMenu").addClass("active2");
          console.log(active,"activo?");
      }
    }
    

    var show = "none";
    var icon = "block";
    function iconRotate(){
        $("#iconbutton").toggleClass("button-arrow-right");
        $("#logoKiosko").css("display", show);
        $("#iconoKiosko").css("display", icon);
        if(show == "none"){
            show ="block";
        }else{
            show = "none";
        }
        if(icon == "block"){
            icon = "none";
        }
        else{
            icon = "block";
        }

        }
    
</script>