@using Microsoft.AspNetCore.Identity
@using kiosko.Models

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<nav class="main-header navbar navbar-white navbar-light navegacion">
    <!-- Left navbar links -->
    <ul class="nav-container">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: #1f2d3d;"></i></a>
      </li>
      @if (signInManager.IsSignedIn(User))
                    {
                         <li class="textlogin">
                             Hello @userManager.GetUserName(User)
                        </li>
                    }
   </ul>     

        <div class="container-perfil">
            <div class="boton-container">
                <button onclick="showOption()">
                <img src="~/img/usuario (2).png" />
                </button>
            </div>
            <div class="menu-item-container">
                   <ul id="menu-perfil" style="display: none">
                     <li>
                        <a class="ancla-contain" asp-controller="Account" asp-action="Logout">Cerrar Sesion</a>
                     </li>
                   </ul>
            </div>
        </div>
  </nav>
  <!-- /.navbar -->

  <script type="text/javascript">

    var isShowing = "block";
    function showOption() {
      console.log('entro');
        $("#menu-perfil").css("display", isShowing);
        if(isShowing == "block"){
          isShowing = "none";
        }else{
      	  isShowing = "block";
          }
    }
</script>