@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<aside class="main-sidebar sidebar-dark-primary elevation-4 posicion-logo">
    <!-- Brand Logo -->
    <div class="logo-kiosko">
        <img id="logoKiosko" style="display:block;" class="kiosko" src="~/img/logo.png" />
    </div>
    <div class="icono-kioko-containaer">
        <img id="iconoKiosko" style="display:none;" src="~/img/logo-kiosko.png" />
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sortableMenu">
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      <!-- Menu Estatico -->
      <div class ="menu-static">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="EstaticMenu">
              <li class="nav-item modulo2" id="moduloF1"><a href="/Modulos/Details?id=2" class="nav-link"><p>Mensajes Iniciales</p></a></li>
          </ul>
      </div>
      <!--- Menu Estatico -->
      <div class="menu-configuration">
          <a href="/Modulos/Details?id=1"><i class="nav-icon fas fa-th-large"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="/Modulos/Index"><i class="nav-icon fas fa-cog"></i></a>
      </div>
    </div>
    <!-- /.sidebar -->
  </aside>

  <div class="modal fade" id="modalNewModulo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modalTitle">Agregar nuevo Modulo</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Título</label>
                <input type="text" class="form-control" id="titleNewModulo" placeholder="Ingresa el título">
              </div>
              <div class="form-group clearfix">
                  <label for="exampleInputEmail1">Es menú desplegable</label><br/>
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="radioPrimary1" value="1" name="radioDesplegable">
                    <label for="radioPrimary1">Si</label>
                </div>
                <div class="icheck-primary d-inline">
                    <input type="radio" id="radioPrimary2" value="0" name="radioDesplegable" checked="">
                    <label for="radioPrimary2">No</label>
                </div>
              </div>
              <!-- icono -->
              <div id="iconoImg" style="display: none">
                    <input type="file" id="imagenIcono" accept=".png" >
                    <div id="imgPreview" class="preview-img">
                    </div>
              </div>
              <!-- fin - icono -->
              <!-- guia/favorito -->
              <div id="guiaRapida" style="display: block">
                  <input type="checkbox" id="guiasRapidas" name:"guiasRapidas" value="false" />
                  <label for="guiasRapidas">Guias Rapidas</label>
              </div>
              <div id="divTipo_guia">
                  <label>Eligue un ipo de guia</label>
                  <select id ="tipo_guia" name="tipo_guia">
                      <option value="control interno" selected>Control Interno</option>
                      <option value="ejecucion" >Ejecución</option>
                      <option value="abastecimiento e inventario" >Abastecimiento e inventario</option>
                      <option value="seguridad" >Seguridad</option>
                      <option value="servicio" >Servicio</option>
                  </select>
              </div>
              <!-- fin - guia/favorito -->
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" onclick="saveNewModulo()">Agregar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


