<aside class="main-sidebar sidebar-dark-primary elevation-4 posicion-logo">
    <!-- Brand Logo -->
    <div class="logo-kiosko">
        <img class="kiosko" src="~/img/logo.png" />
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="sortableMenu">
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>